<!DOCTYPE html>
<html lang="ru">
<head>
    <title>mkls</title>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
</head>

<body>
    <main>
        <section class="flex main_content">
            {{ content | safe}}
        </section>
    </main>
</body>
