.flex {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 1rem;
}

.main_content {
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
}

.contact {
    margin-right: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
