@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: local('Inter Regular'),
       url("https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: local('Inter Medium'),
       url("https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: local('Inter Bold'),
       url("https://rsms.me/inter/font-files/Inter-Bold.woff2?v=3.19") format("woff2");
}

* {
    font-family: "Inter", sans-serif;
    font-weight: var(--normal-font-weight);
}

p, li {
    font-size: var(--base-font-size);
    padding-bottom: 0.05rem;
}
