.avatar {
    border-radius: 30%;
    object-fit: cover;
    float: left;
    max-width: 100px;
    height: 80px;
    margin-right: 1rem;
}

.tech {
    background-color: var(--light-gray);
}

.logo {
    max-height: var(--base-font-size);
    height: var(--base-font-size);
    max-width: var(--base-font-size);
    width: var(--base-font-size);
    float: none;
    object-fit: scale-down;
    clear: left;
    margin: 0;
    padding: 0;
}
