@import url("vars.css");
@import url("fonts.css");
@import url("links.css");
@import url("lists.css");
@import url("flex.css");
@import url("img.css");
@import url("titles.css");

* {
    margin: 0.12rem;
}

.tag {
    padding: 0.15rem;
    background: var(--light-gray);
    white-space: nowrap;
    border-radius: 0.3rem;
    display: inline-block;
}

.printBtn {
    float: right;
}
