ul {
    list-style-type: disc;
    padding-left: 0.5rem;
    list-style-position: inside;
    padding-top: 0.1rem;
    padding-bottom: 0;
    margin-top: 0.1rem;
}

li {
    margin: 0.1rem;
}

.tag-li {
    white-space: normal;
}
