h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--heavy-font-weight);
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--heavy-font-weight);
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: var(--medium-font-weight);
}
