:root {
    --base-font-size: 10pt;
    --h1-font-size: 15pt;
    --h2-font-size: 13pt;
    --h3-font-size: 11pt;

    --heavy-font-weight: 700;
    --medium-font-weight: 500;
    --normal-font-weight: 400;

    --bg-color: #ecf0f1;
    --blue-gray: #427983;
    --light-gray: #e5edf2;
}
