---
layout: layouts/base.njk
---
<h1>Обо мне</h1>

{{ comp.card({class: "description",
              img: "static/img/photo.jpg",
              imgClass: "avatar",
              intro: introduction }) | safe }}

<h2>Навыки</h2>
    <ul>
        <li class="tag-li">
            Языки:
            {% for level in skills.languages %}
                ({{ level.description }})
                {% for lang in level.list %}
                <span class="tag">
                    <img class="logo tech" src="{{ lang.logo }}" alt="{{ lang.name }} logo" />
                    {{ lang.name }}
                </span>
                {% endfor %}
                {% if not loop.last %}
                ;
                {% endif %}
            {% endfor %}
        </li>
        <li class="tag-li">
            Технологии:
            {% for level in skills.technologies %}
                ({{ level.description }})
                {% for tech in level.list %}
                <span class="tag">
                    <img class="logo tech" src="{{ tech.logo }}" alt="{{ tech.name }} logo" />
                    {{ tech.name }}
                </span>
                {% endfor %}
                {% if not loop.last %}
                ;
                {% endif %}
            {% endfor %}
        </li>
    </ul>

<h2>Образование</h2>
<ul>
    {% for program in education.list %}
    <li>
        {{ program.text }},
        <a href="{{ program.link }}">{{ program.institution }}</a>,
        {{ program.year }}
    </li>
    {% endfor %}
</ul>

<h2>Опыт работы</h2>
{% for job in experience.list %}
<h3>
    {{ job.position }} @
    {% for company in job.companies %}
    {% if company.link %}
    <a href="{{ company.link }}">{{ company.name }}</a>
    {% else %}
    {{ company.name }}
    {% endif %}
    {% if not loop.last %}/{% endif %}
    {% endfor %}
</h3>
<p>{{ job.timespan }}</p>

<ul>
    {% for task in job.tasks%}
    <li>
        {{ task.desc }}
        {% for link in task.links %}
            <a href="{{ link.link }}">{{ link.name }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}
    </li>
    {% endfor %}
</ul>
{% endfor %}

<h2>Учебные/pet проекты</h2>
<ul>
    {% for project in projects.list %}
    <li>
        <a href="{{ project.link }}">{{ project.name }}</a>
        — {{ project.description }}
    </li>
    {% endfor %}
</ul>

<footer>
<h1>Контакты</h1>
<p>
{% for contact in contacts.list %}
<span>
    {% if contact.emoji_icon %}
    {{ contact.emoji_icon }}
    {% else %}
    <img class="logo" src="{{ contact.icon }}" alt="{{ contact.name }}" />
    {% endif %}
    <a class="contact" href="{{ contact.link }}">{{ contact.name}}</a>
</span>
{% endfor %}

<span>
{% comp "button", text="🖨️",  class="printBtn", onclick="window.print()" %}
{% endcomp %}
</span>

</p>
</footer>
