<section class="{{ class }}">
    {% if img %}
    <img class="{{ imgClass }}"
         src="{{ img }}" />
    {% endif %}
    <p>
    {{ intro.text }}
    </p>

    <p>
    {{ intro.jobOptions }}
    </p>
</section>
